%tr
  %td= line_item.description
  %td= line_item.order_number
  %td
    = form_for [:cart, line_item], url: cart_line_item_url(line_item) do |f|
      = f.text_field :qty

    = button_to 'Remove', cart_line_item_url(line_item), method: :delete

  %td= number_to_currency(line_item.price.amount)
  %td= number_to_currency(line_item.total.amount)

