#nav
  = form_for Cornerstore::Search.new, url: search_url, method: :get do |f|
    = f.text_field :keywords, placeholder: "Search…"

  %ul
    = collections_for_navigation(@collections)

#main
  .search-result
    We've found #{pluralize(@search.results.count, 'result')} for "#{@search.keywords}"

  %ul#products
    = render partial: 'product', collection: @products
