!!!
%html
  %head
    %title Fattoria Croccante
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{href: 'http://fonts.googleapis.com/css?family=Lato:400,700,900', rel: 'stylesheet', type: 'text/css'}
    %link{href: '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel: 'stylesheet'}

  %body

    - unless flash.empty?
      #flash
        - flash.each do |name, message|
          %p{class: name}
            = message


    #header
      .container
        %h1 Fattoria Croccante

        #cart
          %a{href: cart_url}= @cart.line_items.size

    #stage
      .container
        = yield
